# Ignore virtual environment
venv/
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django DB
db.sqlite3

# VS Code settings
.vscode/

# Compiled files
*.log

# OS files
.DS_Store
Thumbs.db

# Ignore migrations
*/migrations/__pycache__/
*.sqlite3
