{% extends "index.html" %}
{% block title %}Things to Implement{% endblock title %}

{% block content %}
<h2>
    <ul>
        {% comment %} <li>Status i.e Pending In progress and completed</li> {% endcomment %}
        {% comment %} <li>Have to modify the model.py add status</li> {% endcomment %}
        {% comment %} <li>UI should mention the request status</li> {% endcomment %}
        {% comment %} <li>Admin panal who reviews and manages the request and approve it and updates the status.</li> {% endcomment %}
        <li>API integration (e.g., SMS or email notifications) for status updates.</li>
        <li>Built-in Django Email Backend</li>
    </ul>
</h2>
{% endblock content %}